/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #FAF9F6;
}

::-webkit-scrollbar-thumb {
  background: #D4D4D4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4F46E5;
}

/* Remove tap highlight on mobile */
a,
button {
  -webkit-tap-highlight-color: transparent;
}

/* Timeline bullet points override */
.timeline-item {
  position: relative;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: -2.35rem;
  top: 0.4rem;
  width: 14px;
  height: 14px;
  border-radius: 0; border: 2px solid #18181b;
  background: #4F46E5;
  /* Indigo-600 */
  border: 3px solid #FAF9F6;
}